.swiftpm
*.xcframework
*.xcodeproj
*.xcworkspace
*.zip
target
Derived
swift/wrapper/include/*.modulemap

# documentation generation giblets
.symbol-graphs/
Package.resolved
all_identifiers.txt
all_symbols.txt
swift/scaffold/Documentation.docc/.docc-build
docs/
.vscode/
