### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Projects ###
*.xcodeproj
*.xcworkspace

### Tuist derived files ###
graph.dot
Derived/

### Tuist managed dependencies ###
Tuist/Dependencies

Fastlane/report.xml
*.env

## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## macOS directory items layout
*.DS_Store

# CocoaPods
Pods

